<body>
  <div class="section"></div>
  <main>
    <center>

      <div class="container">
        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">


<h2>Log In</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
        <i class="material-icons prefix">mail_outline</i>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
      <i class="material-icons prefix">vpn_key</i>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
<div class="section"></div>
  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
<div class="section"></div>
  <div class="actions">
    <%= f.submit "Log in" , class: "btn btn waves-effect teal"%>
  </div>
<% end %>
<div class="section"></div>
<%= render "devise/shared/links" %>

</div>
</div>
</center>
</main>
</body>
