<!DOCTYPE html>
<html>
<head>
  <title>Flippr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--Let browser know website is optimized for mobile-->
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

</head>
<body>
  <%= render 'layouts/header' %>
<div class="section"></div>
    <center>
  <% flash.each do |name, msg| %>
       <div class="section"></div>
     <%= content_tag(:div, msg, class: "#{name} z-depth-1 grey lighten-4", style: "display: inline-block; padding: 16px 48px 16px 48px; border: 1px solid #EEE;") %> 
<% end %>
<%= yield %>
</center>
</body>
</html>
